<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>

  <body class="<%= page_classes %>">

        <div class="row menu">
              <div class="large-12 columns">
                <!-- Navigation -->

                <nav class="top-bar" data-topbar>
                  <ul class="title-area">
                    <!-- Title Area -->

                    <li class="name">
                      <a href="/"><img alt="Incontri Ravvicinati" src="http://lh5.googleusercontent.com/-D9gIsr_XIUI/UxUS1KBMzbI/AAAAAAAAh6k/zBpULvmKu3c/h45-no/logo.png"></a>
                    </li>

                    <li class="toggle-topbar menu-icon">
                      <a href="#"><span>menu</span></a>
                    </li>
                  </ul>

                  <section class="top-bar-section">
                    <ul class="right">
                      <li>
                        <a href="#">Il Progetto</a>
                      </li>

                      <li>
                        <a href="#">Protagonisti</a>
                      </li>
                      <li>
                        <a href="#">Contatti</a>
                      </li>
                    </ul>

                  </section>
                </nav><!-- End Navigation -->
              </div>
        </div>

    <%= yield %>

    <footer class="row">
        <div class="large-12 columns">
            <hr>

            <div class="row">
                <div class="large-4 columns">
                    Progetto promosso dal Comune di Milano <p/><img alt="Incontri Ravvicinati" src="http://lh4.googleusercontent.com/-bHnKynODTU8/UxX8xPCV86I/AAAAAAAAh9I/bod7Yjl_z1g/h200-no/logo_milano.jpg">
                </div>

                <div class="large-4 columns">
                    Con il Contributo di Fondazione Cariplo<p/> <img alt="Incontri Ravvicinati" src="http://lh6.googleusercontent.com/-BOuerEmRbwU/UxX7pmUu5nI/AAAAAAAAh8s/wkx2TnSMGiM/w300-no/fond-cariplo.jpg">
                </div>
                <div class="large-4 columns">
                    Con il Contributo di: <p/>
                    <img alt="Incontri Ravvicinati" src="http://lh5.googleusercontent.com/-H7ue_xTSsoM/UxX7pNlIv8I/AAAAAAAAh8g/ZQ95w1zvzD8/w300-no/BCM.jpg">
                    <p/>
                    <img alt="Incontri Ravvicinati" src="http://lh3.googleusercontent.com/-EwBKTRIZNIk/UxX7pjJUElI/AAAAAAAAh8k/bAzb73F2BKI/w300-no/logo_abicitta.png">
                </div>
            </div>
        </div>
</footer>

    <%= javascript_include_tag  "all" %>
  </body>
</html>