<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>

  <body class="<%= page_classes %>">
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

        <div class="row menu">
              <div class="large-12 columns">
                <!-- Navigation -->

                <nav class="top-bar" data-topbar>
                  <ul class="title-area">
                    <!-- Title Area -->

                    <li class="name">
                      <a href="/"><img alt="Incontri Ravvicinati" src="http://lh5.googleusercontent.com/-8rLCqBhY8h8/Ux9EbzdM0wI/AAAAAAAAiA0/p7ilozaGemE/h50-no/logo_incontri_ravvicinati_basso.png"></a>
                    </li>

                    <li class="toggle-topbar menu-icon">
                      <a href="#"><span>menu</span></a>
                    </li>
                  </ul>

                  <section class="top-bar-section">
                    <ul class="right">
                      <% find_resource_by_path('^servizio/*', 'sort').each do |resource| %>
                        <li>
                           <%= link_to resource.data.title, "/#{resource.path}", :title =>resource.data.titla%>
                        </li>
                      <% end %>
                        <li>
                           <%= link_to "<i class=\"fa fa-facebook\"></i> Seguici su FaceBook!", "https://www.facebook.com/pages/Incontri-ravvicinati/530089903777060", :title =>"Seguici su FaceBook", :target=>"_blank" %>
                        </li>
                    </ul>

                  </section>
                </nav><!-- End Navigation -->
              </div>
        </div>

    <%= yield %>

    <footer class="row">
        <div class="large-12 columns">
            <hr>

            <div class="row">
                <% data.partner.main_sponsor.sponsor.each do |name, sponsor| %>
                    <div class="large-2 columns">
                        <%= sponsor.frase %> <%= sponsor.nome %> <p/><img alt="<%= sponsor.nome  %>" src="<%= sponsor.logo  %>">
                    </div>
                <% end %>

                <div class="large-2 columns">

                    <% data.partner.main_partner.partner.each do |name, partner| %>
                        <% if partner.inhome == 1 %>
                            <%= partner.frase %>:
                            <br />
                                <img alt="<%= partner.nome %>" src="<%= partner.logo  %>">
                            <br />
                        <% end %>
                    <% end %>
                </div>
                <div class="large-6 columns">
                    <%= partial("partials/_social") %>
                </div><!-- End Content -->
            </div>
        </div>
    </footer>

    <%= javascript_include_tag  "all" %>
  </body>
</html>