---
title: Contatti
ordine: 300
display_title: 0
---


<div class="row">
  <div class="large-12 columns">

    <ul class="small-block-grid-1">
        <% find_resource_by_path('^percorsi/*', 'ordine').each do |resource| %>
        <li>
            <h2><%= resource.data.title %>:</h2>
            <div class="panel radius">
            <h3 class="subheader"><%= resource.data.biblioteca.upcase %></h3>
                <hr>
                    <p>
                        <%= resource.data.indirizzo %>
                    </p>

                <% if resource.data.orario %>
                    <h3>Orario di apertura</h3>
                    <hr>
                    <p>
                        <%= resource.data.orario.testo %>
                    </p>
                    <p>
                        <%= resource.data.orario.note %>
                    </p>
                <% end %>
            </div>
        </li>

        <% end %>

        <li>
              <div class="fb-like-box" data-href="https://www.facebook.com/pages/Incontri-ravvicinati/530089903777060" data-width="650" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
        </li>
    </ul>
  </div>
</div>